---
title: "Services | HomeWorks - Home Remodeling Fremont, CA"
description: "HomeWorks offers comprehensive home remodeling services in Fremont, CA. Kitchen renovations, bathroom remodels, whole home projects, and custom additions."
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "services/"
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Services</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/banner-sm.webp"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/banner.webp"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/banner.webp"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-342">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">The United Way To Find Specialist Services</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner2.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/cleaner3.jpg" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Door Cleaning</h3>
                        <p class="cs-item-text">
                            We’ve helped thousands of organizations transform to become relevant of helped thousands.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1675">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Steps</span>
                <h2 class="cs-title">How To Get Started</h2>
                <p class="cs-text">
                    Designed to maintain your current colour, blend out a growing root or balance your blonde while providing full and semi-permanent coverage.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <h3 class="cs-h3">Connect With Us</h3>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most responsive and reliable, and cost effective services and solutions.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <h3 class="cs-h3">Make A schedule</h3>
                    <p class="cs-item-text">
                        Fortune 500 companies to smaller and medium-sized companies to help manage risks to as low as reasonably practical.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <h3 class="cs-h3">Describe Your Problem</h3>
                    <p class="cs-item-text">
                        Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                    </p>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <h3 class="cs-h3">Get Expert Consultation</h3>
                    <p class="cs-item-text">
                        Highly experienced staff of more than 100 professionals averaging 29+ years in industry and hands-on knowledge.
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
{% endblock %}
